[submodule "vendor/emacs-powerline"]
	path = vendor/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "vendor/tramp"]
	path = vendor/tramp
	url = git://git.savannah.gnu.org/tramp.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime
[submodule "emacs-color-themes"]
	path = emacs-color-themes
	url = https://github.com/owainlewis/emacs-color-themes.git
[submodule "vendor/multiple-cursors"]
	path = vendor/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vendor/popup-el"]
	path = vendor/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "vendor/tern"]
	path = vendor/tern
	url = https://github.com/marijnh/tern.git
